body {
    align-content: center;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 600px;
    max-width: 90vw;
    aspect-ratio: 1/1;

}

.tile[data-value="X"]::before {
    content: "X"
}

.tile[data-value="O"]::before {
    content: "O"
}

